@model BolaoApp.Models.Jogo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Jogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rodada" class="control-label"></label>
                <input asp-for="Rodada" class="form-control" />
                <span asp-validation-for="Rodada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMandante" class="control-label"></label>
                <input asp-for="IdMandante" class="form-control" />
                <span asp-validation-for="IdMandante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolsMandante" class="control-label"></label>
                <input asp-for="GolsMandante" class="form-control" />
                <span asp-validation-for="GolsMandante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVisitante" class="control-label"></label>
                <input asp-for="IdVisitante" class="form-control" />
                <span asp-validation-for="IdVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolsVisitante" class="control-label"></label>
                <input asp-for="GolsVisitante" class="form-control" />
                <span asp-validation-for="GolsVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
