@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bolão App</h1>
    <p>Este é um sistema para gerenciamento de Bolões.</p>
    <p>Git Hub: <a href="https://github.com/albertosena/BolaoApp">https://github.com/albertosena/BolaoApp</a>.</p>
</div>
